version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      FLASK_ENV: development
    volumes:
      - .:/app
    command: flask run --host=0.0.0.0

  static:
    build: ./static_site
    ports:
      - "8080:80"
